.details-card {
  background: rgba(0, 0, 0, 0.025);

  display: flex;
  justify-content: space-between;
  padding: 20px 20px 5px;
  border-radius: 10px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .details-card {
    flex-direction: column;
  }
}
.details-card__img {
  width: 100%;
  height: 100%;
  flex-basis: 50%;
}
.details-card__img img {
  width: 100%;
  height: 100%;
}
.details-card__info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: auto 2rem;
  flex-basis: 50%;
}
.details-card__info button {
  width: 260px;
  height: 31px;
  border-radius: 20px;
  border: none;
  background-color: white;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  margin: 20px auto;
  color: #f61b5a;
}
.details-card__info .toggelspan {
  margin: auto;
  padding: 20px;
  color: #252c32;
}
