.Login {
  width: 600px;
  margin: auto;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .Login {
    width: 300px;
  }
}
.Login .login-Intro {
  text-align: center;
  margin: 20px auto;
}

.Login form {
  display: flex;
  flex-direction: column;
}
.Login form div {
  display: flex;
  flex-direction: column;
}
.Login form div svg {
  width: 20px;
  height: 20px;
  align-self: flex-end;
}
.Login form div label {
  /* width: 804px;
  height: 22px; */
  font-family: "Urbanist", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  align-items: center;
  letter-spacing: 0.2px;
  margin: 2rem 0;
  /* Greyscale / 900 */

  color: #212121;
}
.Login form div input {
  border-width: 1px;
  border-color: #f9f9f9 #f9f9f9 #f89300;
  background-color: #f9f9f9;
  border-style: solid;
  height: 20px;
}

.Login form .checkbox {
  display: inline-block;
  margin: 50px 0;
}
.Login form .checkbox label {
  padding: 0 0.75rem;
}
.Login form .checkbox input {
  width: 15px;
}
button {
  width: 260px;
  height: 31px;
  border-radius: 20px;
  border: none;
  background-color: white;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  margin: 50px auto;
  color: #f61b5a;
  cursor: pointer;
}
